<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203228939225-on38hraf8q11vabm18gudkhd62suoq2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203228939225-on38hraf8q11vabm18gudkhd62suoq2u</string>
	<key>API_KEY</key>
	<string>AIzaSyC8_TVGWL9z4rev6yUOJFpX80zb1nrrM6E</string>
	<key>GCM_SENDER_ID</key>
	<string>203228939225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Rocket10.SB-Santehnik-App</string>
	<key>PROJECT_ID</key>
	<string>santehnik-e27ee</string>
	<key>STORAGE_BUCKET</key>
	<string>santehnik-e27ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203228939225:ios:b3a4dd2c6531226b20cfc8</string>
</dict>
</plist>